/* * {
	border: 1px solid red !important;
}  */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	font-family: 'Open Sans', sans-serif;
}




.grid {
	margin: 0 auto;
	width:1100px;
}


.row {
	width: 100%;
	margin-bottom:20px;
	display: flex;
}

.about_headline{
	width: 100%;
	display: flex;
	padding-left: 20px;
	padding-right: 40px;
	padding-top: 18px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 24px;
}

.about_text {
	width: 100%;
	display: flex;
	padding-left: 20px;
	padding-right: 40px;
}


.about_img {
	width:100%;   /* 229px*/
	height:305px;   /* width 229px divided with 0.75 */
}


.blog_headline{
	width: 100%;
	display: flex;
	padding-right: 38px;
	padding-top: 15px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 24px;
}



.blog_date {
	width: 100%;
	display: flex;
	padding-bottom: 7px;
	color:#848484;
	font-size: 13px;
	white-space: pre; 
	
}

.blog_text {
	width: 100%;
	padding-right: 38px;
	white-space:pre-wrap;
}

.helper_tags {
	font-size: 11px;
}

.landscape_img {
	width:100%;  /* 660px - padding 40px = 620px*/
	height:465px;  /* 620px width divided with 1.3333333333333 */
}

.portrait_img {
	width:75%;  /* 495px*/
	height:660px;   /* width 495px divided with 0.75 */
}

.txt_below_img_italic {
	font-size:13px;
}

.div_gap_between_imgs {
	height:9px;
	width:100%;
}


.error_message_red {
	color:red;
}

.link_top_bar {
	color:#848484;
	text-decoration: none;
    font-weight:bold;
}

a.link_top_bar:hover {
	color:#F88017;
	
}

.new_old_link {
	color:#008080;
	font-weight: bold;
}

a.new_old_link:hover {
	color:#F88017;
}

.col-1 {
	width: 8.33%;
}
.col-2 {
	width:16.66%
}
.col-3 {
	width:25%
}
.col-4 {
	width:33.33%;
}
.col-5 {
	width:41.66%
}
.col-6 {
	width:50%
}
.col-7 {
	width:58.33%
}
.col-8 {
	width:66.66%
}
.col-9 {
	width:75%
}
.col-10 {
	width:83.33%
}
.col-11 {
	width:91.66%
}
.col-12 {
	width:100%
}

.col-75 {
	width:60%
}

.col-25 {
	width:23.33%
}

.col-77 {
	width:14.2587%;
}

h3 {
color:#848484;
}

.link_menu_yy {
	color:#848484;
}

a.link_menu_yy:hover {
	color:#F88017;
}



.link_menu_mm  {
	color:#848484;
}

a.link_menu_mm:hover {

	color:#F88017;
}



.link_menu_dd {
	color:#008080;
}
	
a.link_menu_dd:hover {

	color:#F88017;
}



.archive_menu {
	list-style-type: none
	
}

#margin_decrease {
	margin-left:-20px;
}


#color_arrow{
	color:black;
}

 
.photo_headline, .video_headline {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 24px;
	text-align:center;
}

#specific_img_land {
    /* display: inline; */
	display: block;
    margin-left: auto;
    margin-right: auto ;
	position: relative;
    /* margin: 0px; */
    /* border: 1px solid #ffffff; */
	width:110px;
	height:83px;   /* 110px width divided with 1.3333333333333 */
	
}

#specific_img_land:hover  {
    /* border: 1px solid #0000ff; */
	-webkit-box-shadow:5px 5px 5px #999999;
	-moz-box-shadow: 5px 5px 5px #999999;
	box-shadow:5px 5px 5px #999999;
}

#specific_img_portrait {
    /* display: inline; */
	display: block;
    margin-left: auto;
    margin-right: auto ;
    /* margin-bottom: 5px ; */
	position: relative;
    /* margin: 0px; */
	width:83px;
	height:110px;  /* width 83px divided with 0.75 */
	
}

#specific_img_portrait:hover  {
    /* border: 1px solid #0000ff; */
	-webkit-box-shadow:5px 5px 5px #999999;
	-moz-box-shadow: 5px 5px 5px #999999;
	box-shadow:5px 5px 5px #999999;
}

.contact_headline{
	width: 100%;
	padding-top: 15px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 24px;
}

.contact_submission {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 5px;
	color:green;
	font-weight: bold;
	font-size: 24px;
	white-space: pre; 
}

