/* * {
	border: 1px solid red !important;
} 
 */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	font-family: 'Open Sans', sans-serif;
}



/*use class for top photo, and for landscape img's inside a blogpost: it is responsive*/
.landscape_img {
	display: block;
	width: 100%;
	height: auto;
}


/*use class for portrait img's inside a blogpost*/
.portrait_img {
	display: block;
	width: 75%;
	height: auto;
  
}

/*use class for portrait img's inside About*/
.portrait_img_About {
	display: block;
	width: 100%;
	height: auto;
  
}


/* padding necessary in biggest screen size to make top photo align with greyness of link in top bar*/
#top_photo {
	padding-right: 4px;

}

/* This is for YouTube videos*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* This for internal videos*/
.video {
  width: 100%    !important;
  height: auto   !important;
}





.grid {
	margin: 0 auto;
	max-width: 1100px;
	width:100%
}


.row {
	width: 100%;
	margin-bottom:0px;
	display:-webkit-box;
	display:-webkit-flex;
	display: flex;
}

.row-top-photo {
}

.row_flex_block_date_author {
}

.row_flex_block_about  {
	padding-top:24px;
	display:-webkit-box;
	display:-webkit-flex;
	display: flex;
}

#menu_row_big {
	display:flex;

}

#menu_row_small {
	display:none;
}



.about_headline{
	width: 100%;
	display: flex;
	padding-left: 20px;
	padding-right: 40px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 24px;
}

.about_text {
	width: 100%;
	display: flex;
	padding-left: 20px;
	padding-right: 40px;
}




.blog_headline{
	width: 100%;
	display: flex;
	padding-right: 38px;
	padding-top: 15px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 24px;
}

.blog_date {
	width: 100%;
	display: flex;
	padding-bottom: 7px;
	color:#848484;
	font-size: 13px;
	white-space: pre; 
}

.blog_text {
	width: 100%;
	padding-right: 38px;
	white-space:pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.helper_tags {
	font-size: 11px;
}

.txt_below_img_italic {
	font-size:13px;
}

.div_gap_between_imgs {
	height:9px;
	width:100%;
}




.error_message_red {
	color:red;
	padding-bottom:20px;
}

.error_message_big {
	font-size: 20px;
	color:red;
	padding-bottom:20px;
	font-weight: bold;
	white-space:pre;
}




.top_bar_padding_top {
	display:flex;
	padding-top:13px;
	padding-bottom:5px;
}

.link_top_bar {
	color:#848484;
	text-decoration: none;
    font-weight:bold;
}

a.link_top_bar:hover {
	color:#F88017;
	
}



.new_old_link {
	color:#008080;
	font-weight: bold;
}

a.new_old_link:hover {
	color:#F88017;
}

/* this makes new_old_link look like a button */
.button_design_newer_older {
	border-top: 1px solid #737373;
	background: #7d7c7d;
	background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#7d7c7d));
	background: -webkit-linear-gradient(top, #ebebeb, #7d7c7d);
	background: -moz-linear-gradient(top, #ebebeb, #7d7c7d);
	background: -ms-linear-gradient(top, #ebebeb, #7d7c7d);
	background: -o-linear-gradient(top, #ebebeb, #7d7c7d);
	padding: 22px 17px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	color: #ffffff;
	font-size: 15px;
	text-decoration: none;
	vertical-align: middle;
}
.button_design_newer_older:hover {
	border-top-color: #BDBDBD;
	background: #BDBDBD;
	color: #ffffff;
}
.button_design_newer_older:active {
	border-top-color: #b3b7ba;
	background: #b3b7ba;
}

/* this makes new_old_link look like a button (Videos: just arrows)*/
.button_design_just_arrows {
	border-top: 1px solid #737373;
	background: #7d7c7d;
	background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#7d7c7d));
	background: -webkit-linear-gradient(top, #ebebeb, #7d7c7d);
	background: -moz-linear-gradient(top, #ebebeb, #7d7c7d);
	background: -ms-linear-gradient(top, #ebebeb, #7d7c7d);
	background: -o-linear-gradient(top, #ebebeb, #7d7c7d);
	padding: 15px 35px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	color: #ffffff;
	font-size: 25px;
	text-decoration: none;
	vertical-align: middle;
}
.button_design_just_arrows:hover {
	border-top-color: #BDBDBD;
	background: #BDBDBD;
	color: #ffffff;
}
.button_design_just_arrows:active {
	border-top-color: #b3b7ba;
	background: #b3b7ba;
}


.button_design_Contact {
	border-top: 1px solid #737373;
	background: #7d7c7d;
	background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#7d7c7d));
	background: -webkit-linear-gradient(top, #ebebeb, #7d7c7d);
	background: -moz-linear-gradient(top, #ebebeb, #7d7c7d);
	background: -ms-linear-gradient(top, #ebebeb, #7d7c7d);
	background: -o-linear-gradient(top, #ebebeb, #7d7c7d);
	padding: 19px 29px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	color: #ffffff;
	font-size: 20px;
	font-weight:bold;
	text-decoration: none;
	vertical-align: middle;
}
.button_design_Contact:hover {
	border-top-color: #BDBDBD;
	background: #BDBDBD;
	color: #ffffff;
}
.button_design_Contact:active {
	border-top-color: #b3b7ba;
	background: #b3b7ba;
}



#align-in-center {
   text-align: center;
}

.col-1 {
	width: 8.33%;
}
.col-2 {
	width:16.66%
}
.col-3 {
	width:25%
}
.col-4 {
	width:33.33%;
}
.col-5 {
	width:41.66%
}
.col-6 {
	width:50%
}
.col-7 {
	width:58.33%
}
.col-8 {
	width:66.66%
}
.col-9 {
	width:75%
}
.col-10 {
	width:83.33%
}
.col-11 {
	width:91.66%
}
.col-12 {
	width:100%
}

/* 7.2 of 12.... by mistake called 75*/
.col-75 {
	width:60%
}

/* 2.7 of 12.... by mistake called 25*/
.col-25 {
	width:23.33%
}

/* 1.7 of 12.... by mistake called 77*/
.col-77 {
	width:14.2587%;
}



/*columns to be manipulated in sizes....*/
.col-1-sides {
	width: 8.33%;
}

.col-10-middle {
	width:83.33%
}

.col-date{
	width:200px;
}

.col-about-text {
	width:75%
}

.col-blog-post {
	width:72%
}

.col-blog-archive {
	width:28%
}

.col-about-img  {
	width:25%
}

.col-2-videos  {
	width:16.66%
}

.col-4-videos  {
	width:33.33%;
}

.col-8-videos {
	width:66.66%
}

.col-4-previous-next-link {
	width:33.33%;
	padding-top:15px;
}



h3 {
color:#848484;
}

.link_menu_yy {
	color:#848484;
}

a.link_menu_yy:hover {
	color:#F88017;
}



.link_menu_mm  {
	color:#848484;
}

a.link_menu_mm:hover {

	color:#F88017;
}



.link_menu_dd {
	color:#008080;
}
	
a.link_menu_dd:hover {

	color:#F88017;
}



.archive_menu {
	list-style-type: none
	
}

#margin_decrease {
	margin-left:-20px;
}


#color_arrow{
	color:black;
}



 
.photo_headline, .video_headline {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 18px;
	font-weight: bold;
	font-size: 24px;
	text-align:center;
}


.gallery_container {
	display:inline-block;
	width:110px;
	height:110px;
	/* position:relative; */
	text-align:center;
	margin: 5px;
}

.specific_img_land {
    /* display: inline; */
   /*  margin-left: auto;
    margin-right: auto ;
	position: relative; */
    /* margin: 0px; */
    /* border: 1px solid #ffffff; */
/* 	max-width:90%;
	max-height:90%; */
	/* margin: 0 auto; */
	width:110px;
	height:83px;   
	/* 110px width divided with 1.3333333333333 */	
}

.specific_img_land:hover  {
    /* border: 1px solid #0000ff; */
	-webkit-box-shadow:5px 5px 5px #999999;
	-moz-box-shadow: 5px 5px 5px #999999;
	box-shadow:5px 5px 5px #999999;
}



.specific_img_portrait {
    /* display: inline; */
	/* display: block; */
    /* margin-left: auto;
    margin-right: auto ; */
    /* margin-bottom: 5px ; */
	/* position: relative; */
    /* margin: 0px; */
	/* max-width:90%;
	max-height:90%; */
	/* margin: 0 auto; */
   /*  margin-left: auto;
    margin-right: auto ;
	position: relative; */
	width:83px;
	height:110px;  
	/* width 83px divided with 0.75 */	
}

.specific_img_portrait:hover  {
    /* border: 1px solid #0000ff; */
	-webkit-box-shadow:5px 5px 5px #999999;
	-moz-box-shadow: 5px 5px 5px #999999;
	box-shadow:5px 5px 5px #999999;
}

#div_img_popup {
	/* border: 1px solid blue !important; */
    
	display: none;
	position: absolute;
	top:0;
	bottom:0;
    left: 0;
	margin-top:auto;
	margin-bottom:auto;
	right: 0;
	margin-left:auto;
	margin-right:auto;
    z-index: 98;
}

#divOverlay {
	/* border: 1px solid green !important; */
	
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #CCC;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 97;
}

.txt_below_img{
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	font-size:14px;
	background-color:white;
	display:block;
	white-space: pre;
}

.big_img {
	display:block;
}




.contact_headline{
	width: 100%;
	padding-top: 15px;
	padding-bottom: 24px;
	font-weight: bold;
	font-size: 24px;
}

.contact_input_name {
	width:67%;
}

.contact_input_email {
	width:67%;
}

.contact_input_text {
	width:75%;
	height:300px;
}

.contact_submission {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 5px;
	color:green;
	font-weight: bold;
	font-size: 24px;
	white-space: pre; 
}

.delete_box{
	text-align:center;
}

.link_headline_edit{
	color:black;
	text-decoration:none;
}

a.link_headline_edit:hover {
	color:#F88017;
}






/******** Blog archive on right side disappears into and top bar menu ********/
@media only screen and (max-width: 900px) {
	div {
		/* background-color: pink; */
		font-size: 15px;
	}

	.row_flex_block_about  {
		padding-top:8px;
	}
	
	#menu_row_big {
		display:none;
	}

	#menu_row_small {
		display:-webkit-box;
		display:-webkit-flex;
		display:flex;
	}
	
	.col-blog-post {
		width:100%
	}

	.col-blog-archive {
		display: none;
	}

	#top_photo {
		padding-right: 0px;
	}

	.link_top_bar {
		color:white; /*#848484;*/
	}

	.top_bar_padding_top {
		display:block;
		padding-bottom:12px;
	}
	

	
	.blog_headline{
		padding-right: 0px;
		padding-top: 0px;
		font-size: 16px;
	}
	
	.blog_date {
		font-size: 11px;		
	}

	.blog_text {
		padding-right: 0px;
	}
	
	.new_old_link {
		font-size: 20px;
		text-align:center;
	}
	
	
	
	.about_headline{
		padding-right: 0px;
		padding-top: 0px;
		font-size: 16px;
	}
	
	.about_text {
		padding-right: 0px;
	}
	
	
	
	.contact_headline{
		padding-top: 0px;
		padding-bottom: 16px;
		font-size: 16px;
	}
	
	.contact_input_name, .contact_input_email {
		width:80%;
	}

	.contact_input_text {
		width:90%;
		height:300px;
	}
	
	.error_message_big {
		font-size: 15px;
		white-space:pre;
	}
	
	
	.photo_headline, .video_headline {
		padding-top: 0px;
		padding-bottom: 0px;
		font-size: 16px;
	}
}


/*this size is only to give extra size possibility*/
@media only screen and (max-width: 750px) {
	div {
		/* background-color: Fuchsia; */
	}
	
	.contact_submission {
		font-size: 16px;
	}
}





/******** Top photo shall NOT appear ********/
@media only screen and (max-width: 500px) {
	div {
		background-color: white;
		font-size: 13px;
	}
	
	.row-top-photo {
		display: none;
	}
	
	.row_flex_block_date_author {
		/* width: 100%;
		margin-bottom:0px; */
		display: block;
	}
		
	.row_flex_block_about  {
		display: block;
	}
	
	.col-1-sides {
		display: none;
	}
	
	.col-10-middle {
		width:100%
	}
	
	.col-about-img  {
		width:50%
	}
	
	.col-about-text {
		width:100%
	}
	
	.col-2-videos  {
		display:none;
	}

	.col-8-videos {
		width:100%
	}
	
	.col-4-videos  {
		width:50%;
	}
	
	.col-4-previous-next-link {
		padding-top:5px;
	}

	

	.top_bar_padding_top {
		padding-top:0px;
		padding-bottom:0px;
	}	
			
	.link_top_bar {
		font-size: 14px;
	}
	
	
	
	.blog_headline{
		padding-bottom: 5px;
		font-size: 14px;
	}
		
	.txt_below_img_italic {
		font-size:11px;
	}
		
		
	
	.about_headline{
		padding-left: 0px;
		padding-top: 12px;
		font-size: 14px;
	}

	.about_text {
		padding-left: 0px;
	}
	
	
	
	.contact_headline{
		padding-bottom: 8px;
		font-size: 14px;
	}
	
	.contact_input_name, .contact_input_email {
		width:90%;
		font-size: 12px;
	}

	.contact_input_text {
		width:100%;
		height:250px;
		font-size: 12px;
	}
	
	.error_message_big {
		font-size: 12px;
		white-space:normal;
	}
	
	.contact_submission {
		font-size: 13px;
	}
	
	
	
	.photo_headline, .video_headline {
		font-size: 14px;
	}
	
}

/*this size is only to give extra size possibility and photo headline becomes smaller*/
@media only screen and (max-width: 380px) {
	div {
		/* background-color: yellow; */
	}
	
	
	.blog_date {
		font-size:10px;
	}
	
	
	/*photo headline is very long*/
	.photo_headline {
		font-weight: bold;
		font-size: 11px;
	}
	
	
	.contact_input_name, .contact_input_email {
		font-size:10px;
	}

	.contact_input_text {
		height:250px;
		font-size: 10px;
	}
	
	.error_message_big {
		font-size: 10px;
		white-space:normal;
	}	
	
	.contact_submission {
		font-size: 11px;
	}

}
