{% extends "base_layout.html" %}
{% block body %}

	<div class="row" style="padding-top: 10px;">
		<div class="col-1"></div>
		<div class="col-10" >
			<br>
			<div style="display:flex;" width=100%>
				<div class="col-3" id="about_img_div"><img class="about_img" src="../images/kirstine.jpg" alt="main"></div>
				<div class="col-9">
					<div class="about_headline">Kirstine Brørup Nielsen</div><br>
					<div class="about_text">Nationality: Danish.</div><br>
					<div class="about_text">Education: Physiotherapist.</div><br>
					<div class="about_text">Hobbies: Skiing and picking my nose and fart really loud.</div><br>
				</div>

			</div>
			<br>
			<div style="display:flex;" width=100%>
				
				<div class="col-3" id="about_img_div"><img class="about_img" src="../images/lachlan.jpg" alt="main"></div>
				<div class="col-9">
					<div class="about_headline">Lachlan Nelder</div><br>
					<div class="about_text">Nationality: Australian.</div><br>
					<div class="about_text">Education: Software Engineer.</div><br>
					<div class="about_text">Hobbies: Snowboarding and Crosswords on toilet.</div><br>
				</div>

			</div>
		</div>
		<div class="col-1 end"></div>
	</div>
	
{% endblock %}