{% extends "base_layout.html" %}
{% block body %}

	<div class="row" style="padding-top: 10px;">
		<div class="col-1"></div>
		<div class="col-10" >
			<br>
			<div style="display:flex;" width="100%">
				<div class="col-3" id="about_img_div"><img class="about_img" src="../images/kirstine.jpg" alt="main"></div>
				<div class="col-9">
					<div class="about_headline">Kirstine Brørup Nielsen</div><br>
					<div class="about_text">I'm a Dane living in Melbourne, Australia. I have always enjoyed different kind of outdoor activities and travelling. 
					My biggest passion is skiing powder and the best time is when I get to share it with my partner, Lachlan. 
					Beside skiing I am also very fond of hiking, camping and gardening, and lately I have started playing tennis and love the challenge of learning a new sport.
					I would like to share my different adventures and thoughts with you on my blog, and I hope you enjoy reading.
					</div>
				</div>
			</div>
			<br>
			
		</div>
		<div class="col-1 end"></div>
	</div>
	
{% endblock %}