{% extends "base_layout.html" %}
{% block body %}

	<div class="row" style="padding-top: 10px;">
		<div class="col-1"></div>
		<div class="col-10" >
			<br>
			<div style="display:flex;" width="100%">
				<div class="col-3"><img class="img-responsive" src="{{general_images_location}}kirstine.jpg" alt="main"></div>
				<div class="col-9">
					<div class="about_headline">Kirstine Brørup Nielsen</div>
					<div class="about_text">I'm a Dane living in Melbourne, Australia with my partner, Lachlan. I have always enjoyed different kind of outdoor activities and travelling. 
					My biggest passion is skiing powder and the best time is when I get to share it with Lachlan. 
					Beside skiing I am also very fond of hiking, camping, training and gardening, and lately I have started playing tennis and love the challenge of learning a new sport. 
					As for indoor activities I am interested in reading books, watching movies, cooking and learning about programming.					
					I would like to share my different adventures, experiences and thoughts with you on this blog. I hope you enjoy reading.
					</div>
					
				</div>
			</div>	
				<br>
				<br>
				
			<div style="display:flex;" width="100%">
				<div class="col-3"><img class="img-responsive" src="{{general_images_location}}lachlan.jpg" alt="main"></div>
				<div class="col-9">
					<div class="about_headline">Lachlan Nelder</div>
					<div class="about_text">
					</div>
					
				</div>
			</div>

			
		</div>
			
		<div class="col-1 end"></div>

	</div>		
	
{% endblock %}