<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Blog post entry</title>
	<link rel="stylesheet" href="../css/main_blog.css">
	<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


	<!-- Load jQuery UI CSS  -->
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<!-- Load jQuery JS -->
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<!-- Load jQuery UI Main JS  -->
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>		
	<script>
			$(function() {
				$( "#datepicker" ).datepicker({ dateFormat: 'dd-mm-yy' });

				$("#descriptionTextArea").keydown(function(event) {
					// Check the keyCode and if the user pressed Enter (code = 13) 
					// disable it. disables that user can press enter.
					if (event.keyCode == 13) {
						event.preventDefault();
					}
				});	

			});
			
			function closeWindow() {
				window.close()
			}
			
		</script>
</head>
<body>

	<div class="grid">
		<div class="row">
		
			<div class="col-1"></div>
			
			<div class="col-10">
				<form method="post">
					<p class="error_message_red"><b>{{error_message}}</b></p>

					<p><b> * = mandatory fields </b></p>
					<label>
						<div>* Headline of your blog post (Don't exceed when front of text moves):</div> <input class="blog_headline" type="text" name="headline" value="{{bp.headline}}" style="width:670px;" onkeypress="return event.keyCode!=13">
					</label>
					<br>
					<label>
						<div>* Text:</div><textarea class="blog_text" name="text" style="width:700px; height:370px;">{{bp.text}}</textarea>
					</label>
					<br>
					
					
					{% for i in range(0,4,1) %}
						<div class="post_part_input{{i|string}}">
							<label>
								<div>Landscape or Portrait img (l/p):</div> <input type="text" name="L_or_P_img{{i|string}}" value="{{pp_list[i].img_format}}" style="width:20px;" maxlength="1" onkeypress="return event.keyCode!=13">
							</label>
							<br>
							<label>
								<div>Image (file name):</div> <input type="text" name="img{{i|string}}" value="{{pp_list[i].img}}" style="width:450px;" onkeypress="return event.keyCode!=13">
							</label>
							
							<br>
							<label>
								<div>Text below big image (some description):</div> <input type="text" name="text_below_img{{i|string}}" value="{{pp_list[i].txt_below_img}}" maxlength="60" style="width:450px;" onkeypress="return event.keyCode!=13">
							</label>
							<br>
							<br>
							<br>
						</div>
					{% endfor %}
					
					<input id="margin_butt" class="button" type="submit">
				</form>
			</div>
			
			<div class="col-1">
				<input class="button" type="submit" value="Log out" id="margin_butt" onclick="window.location.href='/logout';">
				
			</div>
			
			<div class="col-1 end"></div>
			
		</div>
		
	</div>

</body>
</html>