<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Blog - edit specific</title>
	<link rel="stylesheet" href="../css/main_blog.css">
	<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	
	
</head>
<body>

	<div class="grid">
		<div class="row">
		
			
			<div class="col-10">
				<form method="post">
					<p class="error_message_red"><b>{{error_message}}</b></p>
					
					<p><b>Edit specific blog post</b></p>

					<p><b> * = mandatory fields </b></p>
					<p class="helper_tags">Helpful templates:
					<p class="helper_tags">LINKS:&lt;a href="http://www.xxxxx" target="_blank"&gt;xxxxx&lt;/a&gt;</p>					
					<p class="helper_tags">LANDSCAPE photos:&lt;img class="img-responsive" src="{img_location}xxxxx.JPG" alt="photo"&gt;</p>
					<p class="helper_tags">PORTRAIT photos:&lt;img class="img-responsive-blog-portrait" src="{img_location}xxxxx.JPG" alt="photo"&gt;</p>
					<p class="helper_tags">ITALIC and GAP (txt below img followed by another img) DIRECTLY AFTER IMG:&lt;i class="txt_below_img_italic"&gt;xxxxx&lt;/i&gt;&lt;div class="div_gap_between_imgs"&gt;&lt;/div&gt;</p>
					<p class="helper_tags">ITALIC (txt below last img in post) DIRECTLY AFTER IMG:&lt;i class="txt_below_img_italic"&gt;xxxxx&lt;/i&gt</p>
					<p class="helper_tags">VIDEO directly from youtube. Copy this div and replace the xxxxx with iframe tag:&lt;div class="video-container"&gt;xxxxx&lt;/div&gt;</p>
					<!-- <p class="helper_tags">VIDEO 4:3:&lt;video class="video" controls&gt;&lt;source src="{video_location}xxxxx.mp4" type="video/mp4"&gt;Your browser doesn't support the video tag.&lt;/video&gt;</p> -->
					<p class="helper_tags">VIDEO 16:9:&lt;video class="video" controls&gt;&lt;source src="{video_location}xxxxx.mp4" type="video/mp4"&gt;Your browser doesn't support the video tag.&lt;/video&gt;</p>
  
  
					<label>
						Choose author:
						{% set author=author_chosen %}
						<select name="author_blog_post">
							<!-- call method selected_value_dropdown from python file  -->
							<option {{selected_value_dropdown(author, "by Kirstine Brørup Nielsen")}} value="by Kirstine Brørup Nielsen">Kirstine Brørup Nielsen</option>
							<option {{selected_value_dropdown(author, "by Lachlan Nelder")}} value="by Lachlan Nelder">Lachlan Nelder</option>
							<option {{selected_value_dropdown(author, "by Kirstine Brørup Nielsen & Lachlan Nelder")}} value="by Kirstine Brørup Nielsen & Lachlan Nelder">Kirstine Brørup Nielsen & Lachlan Nelder</option>
							<option {{selected_value_dropdown(author, "")}} value="">no name</option>
						</select>
					</label>
					<br>
					<br>
					<label>
						<div>* Headline of your blog post (Don't exceed when front of text moves):</div> <input class="blog_headline" type="text" name="headline" value="{{headline}}" style="width:670px;" onkeypress="return event.keyCode!=13">
					</label>
					<br>
					<label>
						<div>* Text:</div><textarea class="blog_text" name="text" style="width:700px; height:370px;">{{text}}</textarea>
					</label>
					<br>
					
					
					<br>
					<br>
					
					<input id="margin_butt" class="button" type="submit" value="Submit Changes">
					
					<input id="margin_butt" class="button_red" type="button" value="Cancel" onclick="location.href='/edit_blog_post';">
					
					<br>		
					<br>		
					
					<input type="hidden" name="item_ID" value={{item_id}}></input>
				</form>
			</div>
			
			<div class="col-2">
				<input type="submit" value="Log out" id="margin_butt" onclick="window.location.href='/logout';">
				<br>
				<br>
				<input  type="button" value="Go to add Blog" onclick="window.location.href='/add_blog_post';"/>
				<br>
				<br>
				<input type="button" value="Go to add Photo" onclick="window.location.href='/add_photo';"/>
				<br>
				<br>
				<input  type="button" value="Go to add Video" onclick="window.location.href='/add_video';"/>
				
				
			</div>
			
			
		</div>
		
	</div>

</body>
</html>