{% extends "base_layout.html" %}
{% block body %}

	<div class="row" style="padding-top: 10px;">
		<div class="col-1"></div>
		<div class="col-75">
			
			<div class="blog_headline">{{single_blog_posts.headline}}</div>
			<div class="blog_date">{{format_the_date(single_blog_posts.created)}}     <i>{{single_blog_posts.author}}</i></div>
			<div class="blog_text">{{single_blog_posts.text}}</div>
			
			<br>
			<br>
		
		</div>
		
		{% include "archive_menu.html" %}
		
		<div class="col-1 end"></div>
	</div>
	
{% endblock %}






