<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Blog post entry</title>
	<link rel="stylesheet" href="../css/main_blog.css">
	<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


	<!-- Load jQuery UI CSS  -->
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<!-- Load jQuery JS -->
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<!-- Load jQuery UI Main JS  -->
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>		
	<script>
			$(function() {
				$( "#datepicker" ).datepicker({ dateFormat: 'dd-mm-yy' });

				$("#descriptionTextArea").keydown(function(event) {
					// Check the keyCode and if the user pressed Enter (code = 13) 
					// disable it. disables that user can press enter.
					if (event.keyCode == 13) {
						event.preventDefault();
					}
				});	

			});
			
			function closeWindow() {
				window.close()
			}
			
		</script>
</head>
<body>

	<div class="grid">
		<div class="row">
		
			
			<div class="col-10">
				<form method="post">
					<p class="error_message_red"><b>{{error_message}}</b></p>

					<p><b> * = mandatory fields </b></p>
					<p class="helper_tags">Helpful templates:
					<p class="helper_tags">LINKS:&lt;a href="http://www.xxxxx" target="_blank"&gt;xxxxx&lt;/a&gt;</p>					
					<p class="helper_tags">LANDSCAPE photos:&lt;img class="landscape_img" src="../images/xxxxx.jpg" alt="photo"&gt;</p>
					<p class="helper_tags">PORTRAIT photos:&lt;img class="portrait_img" src="../images/xxxxx.jpg" alt="photo"&gt;</p>
					<p class="helper_tags">ITALIC and GAP (txt below img followed by another img):&lt;i class="txt_below_img_italic"&gt;xxxxx&lt;/i&gt;&lt;div class="div_gap_between_imgs"&gt;&lt;/div&gt;</p>
					<p class="helper_tags">ITALIC (txt below last img in post):&lt;i class="txt_below_img_italic"&gt;xxxxx&lt;/i&gt</p>
										
					<label>
						Choose author:
						{% set author=author_chosen %}
						<select name="author_blog_post">
							<!-- call method selected_value_dropdown from python file  -->
							<option {{selected_value_dropdown(author, "by Kirstine Brørup Nielsen")}} value="by Kirstine Brørup Nielsen">Kirstine Brørup Nielsen</option>
							<option {{selected_value_dropdown(author, "by Lachlan Nelder")}} value="by Lachlan Nelder">Lachlan Nelder</option>
							<option {{selected_value_dropdown(author, "by Kirstine Brørup Nielsen & Lachlan Nelder")}} value="by Kirstine Brørup Nielsen & Lachlan Nelder">Kirstine Brørup Nielsen & Lachlan Nelder</option>
							<option {{selected_value_dropdown(author, "")}} value="">no name</option>
						</select>
					</label>
					<br>
					<br>
					<label>
						<div>* Headline of your blog post (Don't exceed when front of text moves):</div> <input class="blog_headline" type="text" name="headline" value="{{bp.headline}}" style="width:670px;" onkeypress="return event.keyCode!=13">
					</label>
					<br>
					<label>
						<div>* Text:</div><textarea class="blog_text" name="text" style="width:700px; height:370px;">{{bp.text}}</textarea>
					</label>
					<br>
					
					
					
					
					<input id="margin_butt" class="button" type="submit">
				</form>
			</div>
			
			<div class="col-2">
				<input type="submit" value="Log out" id="margin_butt" onclick="window.location.href='/logout';">
				<br>
				<br>
				<input type="button" value="Go to Add photo" onclick="window.location.href='/add_photo';"/>
				<br>
				<br>
				<input  type="button" value="Go to Add video" onclick="window.location.href='/add_video';"/>
				
				
			</div>
			
			
		</div>
		
	</div>

</body>
</html>