{% extends "base_layout.html" %}
{% block body %}

	<div class="row" style="padding-top: 10px;">
		<div class="col-1 col-1-sides"></div>
		<div class="col-10 col-10-middle">
			<div class="row">
			
				<div class="col-blog-post">
					<div class="blog_headline">{{single_blog_posts.headline}}</div>
					<div class="row row_flex_block_date_author">
						<div class="col-date blog_date">{{format_the_date(single_blog_posts.created)}}</div>
						<div class="blog_date"><i>{{single_blog_posts.author}}</i></div>
					</div>
					<div class="blog_text">{{do_substitutions(single_blog_posts.text)}}</div>
									
					<br>
					<br>
				</div>
				
				{% include "archive_menu.html" %}
			</div>
		</div>
		
		<div class="col-1 col-1-sides end"></div>
	</div>
	
{% endblock %}


