{% extends "base_layout.html" %}
{% block body %}

	<div class="row" style="padding-top: 10px;">
		<div class="col-1 col-1-sides"></div>
		<div class="col-10 col-10-middle">
			<div class="row">
			
				<div class="col-blog-post">
				{% for post in list_all_year_posts %}
					<div class="blog_headline">{{post.headline}}</div>
					<div class="row row_flex_block_date_author">
						<div class="col-date blog_date">{{format_the_date(post.created)}}</div>
						<div class="blog_date"><i>{{post.author}}</i></div>
					</div>
					<div class="blog_text">{{do_substitutions(post.text)}}</div>
									
					<br>
					<br>
				{% endfor %}
				</div>
				
				{% include "archive_menu.html" %}
			</div>
		</div>
		
		<div class="col-1 col-1-sides end"></div>
	</div>
		
	{% if length(list_all_year_posts) > 0 %}
		<div class="row">
			<div class="col-1 col-1-sides"></div>
			<div class="col-10 col-10-middle" style="display:flex;">
				{% if length(new_link) > 0 %}
					<div class="col-newer-older-link" id="align-in-center" style="padding-bottom:50px;"><a class="new_old_link" href="/full_year?after_id={{list_all_year_posts[0].key().id()}}&year={{year}}"><button class="button_design" type="button">{{new_link}}</button></a></div>
				{% endif %}
				
				{% if length(new_link) < 1 %}
					<div class="col-newer-older-link" id="align-in-center" style="padding-bottom:50px;"><a class="new_old_link" href="/full_year?after_id={{list_all_year_posts[0].key().id()}}&year={{year}}"></a></div>
				{% endif %}
				
				{% if length(old_link) > 0 %}
					<div class="col-newer-older-link" id="align-in-center"><a class="new_old_link" href="/full_year?before_id={{list_all_year_posts[-1].key().id()}}&year={{year}}"><button class="button_design" type="button">{{old_link}}</button></a></div>
				{% endif %}
				
				{% if length(old_link) < 1 %}
					<div class="col-newer-older-link" id="align-in-center"><a class="new_old_link" href="/full_year?before_id={{list_all_year_posts[-1].key().id()}}&year={{year}}"></a></div>
				{% endif %}
			</div>
			<div class="col-1 col-1-sides end"></div>
		</div>
	{% endif %}
	
{% endblock %}