{% extends "base_layout.html" %}
{% block body %}

		<div class="row" style="padding-top: 10px;">
			<div class="col-1"></div>
			<div class="col-75">
			{% for post in blog_posts %}
				<div class="blog_headline">{{post.headline}}</div>
				<div class="blog_date">{{format_the_date(post.created)}}</div>
				<div class="blog_text">{{post.text}}</div>
				
				{% for post_part in post.post_parts.order("rank") %}
					{% if post_part.img_format == "l" %}
						<br>
						<div class="blog_img"><img src="../images/{{post_part.img}}" alt="photo" width="100%" height="480"></div>
						{% if post_part.txt_below_img != "" %}
							<div style="padding-top:0px;"><i>{{post_part.txt_below_img}}</i></div>
						{% endif %}
					{% endif %}
					{% if post_part.img_format == "p" %}
						<br>
						<div class="blog_img"><img src="../images/{{post_part.img}}" alt="photo" width="75%" height="640"></div>
						{% if post_part.txt_below_img != "" %}
							<div style="padding-top:0px; "><i>{{post_part.txt_below_img}}</i></div>
						{% endif %}
					{% endif %}
				{% endfor %}
				
				<br>
				<br>
			{% endfor %}
			</div>
			
			
			
			{% include "archive_menu.html" %}
			
			
			
			<div class="col-1 end"></div>
			
			
			
			
		</div>
		
		
		
		
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10" style="display:flex;">
			
				<div class="col-2" style="padding-bottom:50px;"><a class="new_old_link" href="/?after_id={{blog_posts[0].key().id()}}"><< Newer posts</a></div>
				<div class="col-2"><a class="new_old_link" href="/?before_id={{blog_posts[-1].key().id()}}">Older posts >></a></div>
			</div>
			<div class="col-1 end"></div>
		</div>


{% endblock %}


	