{% extends "base_layout.html" %}
{% block body %}

	<div class="row" style="padding-top: 10px;">
		<div class="col-1"></div>
		<div class="col-75">
			{% for post in list_all_month_posts %}
				<div class="blog_headline">{{post.headline}}</div>
				<div class="blog_date">{{format_the_date(post.created)}}     <i>{{post.author}}</i></div>
				<div class="blog_text">{{post.text}}</div>
								
				<br>
				<br>
			{% endfor %}
			</div>
		
		{% include "archive_menu.html" %}
		
		<div class="col-1 end"></div>
	</div>
	
{% endblock %}









