<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>K and L | Blog - single post</title>
	<link rel="stylesheet" href="../css/main_blog.css">
	<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	
	
	
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script type="text/javascript">
	$(function(){
		$('#example_tree').find('SPAN').click(function(e){
			$(this).parent().children('UL').toggle();
		});
	});
	</script>
	
	
	
	
	
</head>
<body>

	<div class="grid">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10"><img src="../images/hf.jpg" alt="main" width="100%" height="320"></div>
			<div class="col-1 end"></div>
		</div>

		<div class="row">
			<div class="col-1"></div>
			<div class="col-10" style="display:flex;">
				<div class="col-2"><a class="link_top_bar" href="/">Blog</a></div>
				<div class="col-2"><a class="link_top_bar" href="/">Photos</a></div>
				<div class="col-2"><a class="link_top_bar" href="/">Videos</a></div>
				<div class="col-2"><a class="link_top_bar" href="/about">About</a></div>
				<div class="col-2"><a class="link_top_bar" href="/">Contact</a></div>
			</div>
			<div class="col-1 end"></div>
		</div>

		<div class="row" style="padding-top: 10px;">
			<div class="col-1"></div>
			<div class="col-75">
			
				<div class="blog_headline">{{single_blog_posts.headline}}</div>
				<div class="blog_date">{{format_the_date(single_blog_posts.created)}}</div>
				<div class="blog_text">{{single_blog_posts.text}}</div>
				
					{% for post_part in single_blog_posts.post_parts %}
						{% if post_part.img_format == "l" %}
							<br>
							<div class="blog_img"><img src="../images/{{post_part.img}}" alt="photo" width="100%" height="480"></div>
							{% if post_part.txt_below_img != "" %}
								<div style="padding-top:0px;"><i>{{post_part.txt_below_img}}</i></div>
							{% endif %}
						{% endif %}
						{% if post_part.img_format == "p" %}
							<br>
							<div class="blog_img"><img src="../images/{{post_part.img}}" alt="photo" width="75%" height="640"></div>
							{% if post_part.txt_below_img != "" %}
								<div style="padding-top:0px; "><i>{{post_part.txt_below_img}}</i></div>
							{% endif %}
						{% endif %}
					{% endfor %}
				
					
				
				<br>
				<br>
			
			</div>
			
			<div class="col-25 end" style="font-size: 14px;" >
				<div style="padding-top: 10px;"><h3>Blog Archive</h3></div>
				<div>
					
					<UL id="example_tree" style="padding-left:0px;">
					
						{% for year in range(2020, 2011, -1) %}
							<LI>
								{% if year|string in dict_bloggi %}
									<span ><a id="color_arrow" href="#" style="text-decoration:none;">&#9658;</a></span>
									<a id="color_yy" href="/full_year?id={{year|string}}" ><b>{{year}}</b></a>
									
									<UL id="example_tree">
										{% for month in range(12, 0, -1) %}
											{% if month|string in dict_bloggi[year|string] %}
												
												<LI id="margin_decrease">
													<span><a id="color_arrow" href="#" style="text-decoration:none;">&#9658;</a></span>
													<a id="color_mm" href="/full_month?id={{year|string + month|string}}">{{numeric_to_alphabetic_month(month)}}</a> <!-- using from python file: jinja_env.globals.update(numeric_to_alphabetic_month=validation.numeric_to_alpabetic) -->
													
														{% for i in dict_bloggi[year|string][month|string] %}
															<UL id="example_tree">
																<LI id="margin_decrease" style="padding-bottom:8px; font-size:13px;">&#8226;<a id="color_dd" href="/single_blog_post?id={{i.key().id()}}">{{i.headline}}</a></LI>
															</UL>
														{% endfor %}
												</LI>
											{% endif %}
										{% endfor %}
									</UL>
									
								{% endif %}
							</LI>
						{% endfor %}
						
					</UL>
					
				</div>
			</div>
			
			
			<div class="col-1 end"></div>
		</div>
		
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10" style="display:flex;">
			
				<div class="col-2" style="padding-bottom:50px;"><a class="new_old_link" href="/"><< Newer posts</a></div>
				<div class="col-2"><a class="new_old_link" href="/">Older posts >></a></div>
			</div>
			<div class="col-1 end"></div>
		</div>





	</div>
</body>
</html>