{% extends "base_layout.html" %}
{% block body %}

		<div class="row" style="padding-top: 10px;">
			<div class="col-1"></div>
			<div class="col-10" >
				
				<div class="contact_headline">You are welcome to contact us</div>
					
				<form method="post">
				
					{% if length(submission_content) > 0 %}
							<div class="error_message_big">{{submission_content}}</div>
					{% endif %}
					
					{% if length(submission_content) < 1 %}
					{% endif %}
					
					
					<label>
						<div>*Your name</div><input class="contact_input_name" type="text" name="user_name" value="{{user_name_content}}" maxlength="80" onkeypress="return event.keyCode!=13">
						
						<div class="error_message_red">{{user_name_error}}</div>
					</label>
					
					<label>
						<div>*Your e-mail</div><input class="contact_input_email" type="text" name="user_email" value="{{user_email_content}}" onkeypress="return event.keyCode!=13">
						
						<div class="error_message_red">{{user_email_error}}</div>
					</label>
					
					<label>
						<div>*Message</div><textarea class="contact_input_text" name="user_message">{{user_message_content}}</textarea>
						<div class="error_message_red">{{user_message_error}}</div>
					</label>
					
					<input type="submit" value="Send" style="width:75px; height:40px; font-weight:bold;">
				</form>
				
			</div>
			<div class="col-1 end"></div>
			
			
		</div>


{% endblock %}