{% extends "base_layout.html" %}
{% block body %}

		<div class="row" style="padding-top: 10px;">
			<div class="col-1"></div>
			<div class="col-10" >
				
				<div class="contact_headline">You are welcome to contact us</div>
					
				<form method="post">
				
					{% if length(submission_content) > 0 %}
							<p style="color:red; font-weight: bold; white-space:pre;">{{submission_content}}</p>
					{% endif %}
					
					{% if length(submission_content) < 1 %}
						<br>
					{% endif %}
					
					
					<label>
						<div>*Your name</div><input type="text" name="user_name" value="{{user_name_content}}" style="width:600px;" maxlength="80" onkeypress="return event.keyCode!=13">
						
						<span class="error_message_red">{{user_name_error}}</span>
					</label>
					<br>
					<br>
					
					<label>
						<div>*Your e-mail</div><input type="text" name="user_email" value="{{user_email_content}}" style="width:600px;" onkeypress="return event.keyCode!=13">
						
						<span class="error_message_red">{{user_email_error}}</span>
					</label>
					<br>
					<br>
					
					<label>
						<div>*Message</div><textarea name="user_message" style="width:700px; height:300px;">{{user_message_content}}</textarea>
						<span class="error_message_red">{{user_message_error}}</span>
					</label>
					<br>
					<br>
					
					<input type="submit" value="Send" style="width:75px; height:40px; font-weight:bold;">
				</form>
				<br>
				<br>
				<br>
				<br>
				
			</div>
			<div class="col-1 end"></div>
			
			
		</div>


{% endblock %}