<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Photo - add photo</title>
	<link rel="stylesheet" href="../css/main_blog.css">
	<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


	<!-- Load jQuery UI CSS  -->
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<!-- Load jQuery JS -->
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<!-- Load jQuery UI Main JS  -->
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>		
	<script>
			$(function() {
				$( "#datepicker" ).datepicker({ dateFormat: 'dd-mm-yy' });

				$("#descriptionTextArea").keydown(function(event) {
					// Check the keyCode and if the user pressed Enter (code = 13) 
					// disable it. disables that user can press enter.
					if (event.keyCode == 13) {
						event.preventDefault();
					}
				});	

			});
			
			function closeWindow() {
				window.close()
			}
			
		</script>
</head>
<body>

	<div class="grid">
		<div class="row">
		
			<div class="col-1"></div>
			
			<div class="col-10">
				<form method="post">
					<p class="error_message_red"><b>{{error_message}}</b></p>

					
					
					<p ><b>* = mandatory fields</b></p>
					
					<div>
						<label>
							<div>*Landscape or Portrait img (l/p):</div> <input type="text" name="L_or_P_img" value="{{img_format}}" style="width:20px;" maxlength="1" onkeypress="return event.keyCode!=13">
						</label>
						<br>
						<br>
						<label>
							<div>*Image (file name):</div> <input type="text" name="img_file" value="{{img}}" style="width:450px;" onkeypress="return event.keyCode!=13">
						</label>
						<br>
						<br>
						<label>
							<div>Text below big image (some description):</div> <input type="text" name="text_below_img" value="{{txt_below_img}}" maxlength="60" style="width:450px;" onkeypress="return event.keyCode!=13">
						</label>
						<br>
						<br>
						<br>
					</div>
					
					
					<input id="margin_butt" class="button" type="submit">
				</form>
			</div>
			
			<div class="col-1">
				<input class="button" type="submit" value="Log out" id="margin_butt" onclick="window.location.href='/logout';">
				<br>
				<br>
				<input  type="button" value="Go to Add Blog" onclick="window.location.href='/add_blog_post';"/>
				<br>
				<br>
				<input  type="button" value="Go to Add video" onclick="window.location.href='/';"/>
				
			</div>
			
			<div class="col-1 end"></div>
			
		</div>
		
	</div>

</body>
</html>