{% extends "base_layout.html" %}
{% block body %}

	<div class="row" style="padding-top: 10px;">
			<div class="col-1"></div>
			<div class="col-10" >
			
				<div class="photo_headline">{{headline_photos}}</div>
				
			</div>
			<div class="col-1 end"></div>
		</div>
		

		<div class="row" style="padding-top: 10px;">
			<div class="col-1"></div>
			<div class="col-10" >
				
				
				{% for image_list in photo_list_of_lists %}
				<div class="row" style=" white-space: wrap;">	
					{% for image in image_list %}
						{% if image.img_format == "l" %}
							<div class="col-77" >
								<img id="specific_img_land" src="../images/{{image.img}}" alt="photo" href="klematis_big.htm">
							</div>
						{% endif %}
						{% if image.img_format == "p" %}
							<div class="col-77" >
								<img id="specific_img_portrait" src="../images/{{image.img}}" alt="photo" href="klematis_big.htm">
							</div>
						{% endif %}
					{% endfor %}
				</div>
				{% endfor %}
				
				
			</div>
			<div class="col-1 end"></div>
		</div>
	
{% endblock %}





