{% extends "base_layout.html" %}
{% block head %}
	<script type="text/javascript">
	$(function(){
		$('.thumbnail').click(function () {
		
			var $img = $(this);
			var urlBigImage = $img.data('big-url');
			var bigImage = new Image();
			$(bigImage).load(function(){

				$('.container').append($(this));

			}).attr({

				src: urlBigImage,
				class: "big_img"
				

			}).error(function(){
			  //do something if image cannot load
			  console.log("error not displaying big img");
			});
			//console.log("bigImage.height="+bigImage.height);
			//console.log("bigImage.height="+$(bigImage).height);
			
			//console.log("$(window).height()="+$(window).height());
			//console.log("$(window).width()="+$(window).width());
			
			
			
			$('#div_img_popup').height(bigImage.height);
			$('#div_img_popup').width(bigImage.width);
			
			bigImage.onload = function() {
				//console.log("before this.height="+this.height);
				//console.log("before this.width="+this.width);
				
				var is_landscape = this.width > this.height;
				
				if ($(window).width() < this.width && is_landscape) {
					//console.log("Goes into WIDTH if statement");
					
					var reduction_factor = 18;
					
					if ($(window).width() < 501) {
						reduction_factor = 1;
					}
					
					this.width = $(window).width() - ($(window).width() * reduction_factor / 100);
				}
				
				if ($(window).height() < this.height && !is_landscape) {
					//console.log("Goes into HEIGHT if statement");
					
					var reduction_factor = 18;
					
					if ($(window).height() < 501) {
						reduction_factor = 15;
					}
					
					this.height = $(window).height() - ($(window).height() * reduction_factor / 100);
				}
				
				$('#div_img_popup').width(this.width);
				$('#div_img_popup').height(this.height);
				
				//console.log("after this.height="+this.height);
				//console.log("after this.width="+this.width);
				
			}
			
			$('#divLargerImage').html(bigImage);
			var $alt = $img.attr("alt");
			$('#text_below_img').html($alt);
			$('#div_img_popup').add($('#divOverlay')).fadeIn();
			
		});

		$('#div_img_popup').add($('#divOverlay')).click(function () {
			$('#div_img_popup').add($('#divOverlay')).fadeOut(function () {
				$('#divLargerImage').empty();
				$('#text_below_img').empty();
			});
		});
		
	});
	
	</script>
	
{% endblock %}
{% block body %}

	<div class="row" style="padding-top: 10px;">
			<div class="col-1 col-1-sides"></div>
			<div class="col-10 col-10-middle" >
			
				<div class="photo_headline">{{headline_photos}}</div>
				
			</div>
			<div class="col-1 col-1-sides end"></div>
	</div>
		

	<div class="row" style="padding-top: 10px;">
		<div class="col-1 col-1-sides"></div>
		<div class="col-10 col-10-middle" style="text-align:center;">
		
				{% for image in image_list %}
					{% if image.img_format == "l" %}
						<div class="gallery_container">
							<a href="#"><img class="specific_img_land thumbnail" data-big-url="{{gallery_images_location}}big/{{image.img}}" src="{{gallery_images_location}}{{image.img}}" alt="{{image.txt_below_img}}" href="photo"></a>
						</div>
					{% endif %}
					{% if image.img_format == "p" %}
						<div class="gallery_container">
							<a href="#"><img class="specific_img_portrait thumbnail" data-big-url="{{gallery_images_location}}big/{{image.img}}" src="{{gallery_images_location}}{{image.img}}" alt="{{image.txt_below_img}}" href="photo"></a>
						</div>
					{% endif %}
				{% endfor %}
			
			<div style="height:25px;">
			</div>
			
		</div>
		<div class="col-1 col-1-sides end"></div>
	</div>
		
		
<!-- 	{% if length(image_list) > 0 %}
		<div class="row">
			<div class="col-1 col-1-sides"></div>
			<div class="col-10 col-10-middle" style="display:flex; ">
				<div class="col-2"></div>
				<div class="col-4-previous-next-link" style="padding-bottom:50px; text-align: center;"><a class="new_old_link" href="/photos?after_id={{image_list[0].key().id()}}">{{new_link}}</a></div>
				<div class="col-4-previous-next-link" style="text-align: center;"><a class="new_old_link" href="/photos?before_id={{image_list[-1].key().id()}}">{{old_link}}</a></div>
				<div class="col-2"></div>
			</div>
			<div class="col-1 col-1-sides end"></div>
		</div>
	{% endif %} -->
	
	<div id="div_img_popup">
		<div id="divLargerImage"></div>
		<div class="txt_below_img" id="text_below_img"></div>	
	</div>
	
	<div id="divOverlay"></div>
	
{% endblock %}





