{% extends "base_layout.html" %}
{% block body %}

	<div class="row" style="padding-top: 10px;">
		<div class="col-1"></div>
		<div class="col-10" >
		
			<div class="video_headline">{{headline_videos}}</div>
			
		</div>
		<div class="col-1 end"></div>
	</div>
		

	<div class="row" style="padding-top: 10px;">
		<div class="col-1"></div>
		<div class="col-10" style="text-align: center;">
					
			{% for video in video_list %}
				{{video.iframe_tag_and_content}}
			<br>
			<br>
			<br>
			<br>
				
			{% endfor %}

		</div>
		<div class="col-1 end"></div>
	</div>
	
	
	{% if length(video_list) > 0 %}
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10" style="display:flex; ">
				<div class="col-2"></div>
				<div class="col-4" style="padding-bottom:50px; text-align: center;"><a class="new_old_link" href="/videos?after_id={{video_list[0].key().id()}}">{{new_link}}</a></div>
				<div class="col-4" style="text-align: center;"><a class="new_old_link" href="/videos?before_id={{video_list[-1].key().id()}}">{{old_link}}</a></div>
				<div class="col-2"></div>
			</div>
			<div class="col-1 end"></div>
		</div>
	{% endif %}
	
{% endblock %}